@using ChallengesDateTime.Models
@model currentTimes

<div class="jumbotron">
    <div class="row no-gutters m-3">
        <div class="card-header text-center">
            <h2 class="m-1">Current Time OnLoad:</h2>
        </div>
        <div class="card-body">
            <div class="col">
                <h4 class="text-center">@Model.TheTime</h4>
            </div>
        </div>
    </div>
</div>